@media (min-width: 500px) and (min-height: 400px) {
  .app {
    justify-content: center;
    align-items: center;
    display: grid;
  }
}
header {
  font-family: 'Niconne', cursive;
  color: white;
  justify-content: center;
  font-size: 5vw;
  margin-top: 5px;
  display: flex;
}

footer {
  font-size: 1vw;
  color: white;
  position: flex;
  text-align: center;
}